body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

header {
    max-width: 90%;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: rgba(94, 58, 238, 1);
    font-family: Poppins;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 40.5px;


}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul li {
    list-style: none;
    margin-left: 40px;
}

.menu ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    line-height: 39px;
}
.menu ul li a:hover{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 700;
    line-height: 39px;
}

.hero-area{
    background-color: rgba(240, 240, 245, 1);
    padding: 50px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}



.hero-content h1{
    font-size: 2.5rem;
    font-family: Poppins;
    font-weight: 700;
    line-height: 57px;
    margin-bottom: 0px;
    
}

.hero-content h1 span{
    color: rgba(94, 58, 238, 1);
}

.hero-content h4{
    font-size: 1.5rem;
    font-family: Poppins;
    font-weight: 600;
    line-height: 48px;
    color: rgba(105, 105, 105, 1);
    margin-top: 0px;
    
}

.hero-btn {
    display: flex;
    gap: 15px;

}

.btn-prim{
    padding: 10px 50px;
    background-color: rgba(94, 58, 238, 1) ;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 0px 2px 0 1px rgba(219, 219, 219, 0.968);
}
.btn-scnd{
    padding: 10px 50px;
    background-color: rgb(255, 255, 255) ;
    border: none;
    color:rgba(0, 0, 0, 1) ;
    font-size: 1rem;
    font-weight: 600;
}



.hero-image img{
    max-width: 100%;
    
}

.counter-section{
    max-width: 90%;
    margin: 80px auto;
    padding: 50px 0;
    border-top: 1px solid rgba(240, 240, 245, 1) ;
    border-bottom: 1px solid rgba(240, 240, 245, 1) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.counter-child h2 {
    font-family: Poppins;
    font-size: 3rem;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 0px;
}

.counter-text {
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    line-height: 50px;
    color: rgba(191, 184, 184, 1);  
} 

/* about related styles */

.about-me{
    background-color:rgba(15, 18, 33, 1) ;
    margin:150px auto 60px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 65px;
    gap: 20px;
    position: relative;
}

.blank-div{
    width: 205px;
    height: 30px;
    background-color: rgba(94, 58, 238, 1);
}

.about-content h1 {
    font-family: Poppins;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 73.5px;
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 1)  
    
}

.about-content p{
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 500;
    line-height: 27px;
    color: rgba(255, 255, 255, 1) 

}

.about-content p span  {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
   color: rgba(94, 58, 238, 1);

}
.about-image img{
    width: 100%;
    height: 100%;


}


@media screen and (max-width:576px) {
    /* responsive header */

    .menu {
        display: none;
    }

    nav svg {
        max-width:20px ;
    }

    .hero-area{
        flex-direction: column;
        padding:0 15px;
        text-align: center;
    }

    .hero-btn,.about-me{
        flex-direction: column;
    }


   
    
    .btn-prim{
        padding: 6px 25px;
        background-color: rgba(94, 58, 238, 1) ;
        color: white;
        border: none;
        font-size: 1rem;
        font-weight: 600;
        box-shadow: 0px 2px 0 1px rgba(219, 219, 219, 0.968);
    }
    .btn-scnd{
        padding: 6px 25px;
        background-color: rgb(255, 255, 255) ;
        border: none;
        color:rgba(0, 0, 0, 1) ;
        font-size: 1rem;
        font-weight: 600;
    }

    .counter-section{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 0 15px;
        margin: 30px 0;
    }

   




}


@media screen and (min-width:577px) and (max-width:1600px) {

    nav svg {
        display: none;
    }


    
}